.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems .active{
    color: gold;
}
.dialogsItems{
    padding: 10px;
    
}
.massages{
    padding: 10px;
}
.dialogsItems a{
    text-decoration: none;
}